:root {
    --lightBlue: #1FD4DD;
    --lightRed: #ff594f; 
    --lightGrey:#fbfbfb;  
    --backColor: #1c1c1c;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: var(--backColor);  
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;    
    z-index: 1;
    margin-bottom: 4rem;  
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content:center;   
    align-items: center;     
}

.contact-title {  
    font-size: 6rem;
    font-weight:900;
    color: var(--lightRed);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;  

}

.contact-subtitle {  
    font-size: 2rem;
    font-weight:100;
    color: var(--lightGrey);
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 0.8rem;    
}

.contact-icon {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.contact-icon i {
    color: white;
    margin-right: 0.5rem;
}

.contact-data {
    color: white;
    margin: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    width: 40%;  
    margin: 0;
}

.contact-inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-inputBox {
    color: white;  
    font-size: 1rem;
    background-color: rgba(68, 68, 68, 0.685);
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.3);  
    width: 45%;
    border: 1px solid lightgrey;
    height: 2rem;
    resize: none;
    box-sizing: border-box;
    z-index: 1;   
}

.contact-btn { 
    margin-top: 2rem;
    background:var(--lightRed);
    border: none;
    color:white;
    padding:.8rem 2rem;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;  
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin-bottom: 7rem;
}

.contact-btn i{
    margin-right: 1rem;
    font-size: 2rem;
}

.contact-btn:hover {
    transition: all 0.3s ease-in-out;  
    color:black;
    background-color: white;
}  

.contact-msg {
    color: white;  
    font-size: 1rem;
    background-color: rgba(68, 68, 68, 0.685);
    text-transform: none;
    margin:1rem 0;
    border:.1rem solid rgba(0,0,0,.3);  
    width: 100%;
    border: 1px solid lightgrey;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0.5rem;
    z-index: 1;
}

.contact-inputBox::placeholder {
    color: lightgrey;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem;
}

.contact-msg::placeholder {
    color: lightgrey;
    font-family: 'Montserrat', sans-serif;
}

.contact-inputBox:focus {
    border-color: var(--lightRed); 
    outline: none;
}


.contact-msg:focus {
    border-color: var(--lightRed);   
    outline: none;
}


.contact-form textarea {
    height: 20rem;
    resize: none;
    width: 100%; 
}

.contact-mailStatus {
    color: black;
    font-size: 20px;
}


