:root {
    --lightBlue: #1FD4DD;
    --lightRed: #ff594f; 
    --lightGrey:#fbfbfb;  
    --backColor: #1c1c1c;
}

body {
    background-color: var(--backColor);
}

.intro {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backColor);
    height: 100vh;
    min-height:100%;   
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.intro h1 {
    font-size: 6rem;
    font-weight: 800;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.intro-text-container {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
    width: 100%;
}

.intro-text-anim {
    font-size: 4rem;
    color: white;
    height: 3rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}


.btn-about {
    margin-top: 2rem;
    background:var(--lightRed);
    border: none;
    color:white;
    padding:.8rem 2rem;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;  
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 0.5rem;
    text-decoration: none;
}

.btn-about i{
    margin-right: 1rem;
    font-size: 2rem;
}


.btn-about:hover {
    cursor: pointer;
    background-color: white;
    transition: 0.3s ease-in-out;
    color: black;
}

.btn-contact {
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: var(--backColor);
    color: var(--lightRed);
    padding:.8rem 2rem;
    font-size: 1.3rem;
    border: 1px solid var(--lightRed);
    border-color:var(--lightRed);
    border-radius: 0.5rem;   
    z-index: 1;    
    box-sizing: border-box;    
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.btn-contact i{
    margin-right: 1rem;
    font-size: 2rem;
}

.btn-contact:hover {
    cursor: pointer;
    border-color: white;
    color: white;
    transition: 0.3s ease-in-out;
}

span {
    color: var(--lightRed);
}